/* 1. Descendent Selector */
main p{
    color: red;
}
/* 2. Child Slector  */

section>p{
    color:pink;
}
/* 3. Adjacent sibling selector */
header+h3{
    color: orange;
}

/* 4. Genral sibling Selector */
section~div{
    color:pink;
}
